@charset "UTF-8";
html {
  width: 100%;
  height: 100%;
  max-width: 640px;
  min-width: 320px;
  padding: 50px 0;
  overflow: hidden;
}
body {
  height: 100%;
  background-color: #fff;
}
body,
ul,
li {
  margin: 0;
  padding: 0;
}
ul,
li {
  list-style: none;
}
a {
  display: block;
  text-decoration: none;
}
img {
  display: block;
}
i {
  font-style: normal;
  font-size: 16px;
}
.clearfix:after {
  content: '';
  height: 0;
  display: block;
  visibility: hidden;
  clear: both;
}
.clearfix {
  zoom: 1;
}
.headAndFoot {
  width: 100%;
  height: 50px;
  max-width: 640px;
  position: absolute;
  left: 0;
  text-align: center;
  background-color: #369;
  color: #fff;
}
.headAndFoot h1 {
  padding: 0 10%;
  height: 100%;
  font: 20px/50px "Microsoft YaHei";
  margin: 0;
}
.headAndFoot a,
.headAndFoot p {
  color: #fff;
}
#lt_header {
  top: 0;
  line-height: 50px;
}
#lt_header .icon_home,
#lt_header .icon_search {
  display: block;
  width: 10%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}
#lt_header .icon_search {
  left: auto;
  right: 0;
}
#it_footer {
  bottom: 0;
  font-size: 14px;
}
#it_footer .f_nav {
  padding-top: 10px;
}
#it_footer .f_nav li {
  width: 20%;
  float: left;
  margin: 0 2.5%;
}
#it_footer .f_nav li i {
  font-size: 16px;
}
#it_footer .f_nav li.now a,
#it_footer .f_nav li.now p {
  color: darkorange;
}
.area_scroll {
  height: 100%;
  position: relative;
  overflow: hidden;
}
.price {
  color: red;
}
.oldPrice {
  text-decoration: line-through;
}
