.history_box {
  padding: 10px;
  font-size: 14px;
  color: #666;
}
.history_box .title {
  height: 40px;
  line-height: 40px;
}
.history_box .record_list {
  border: 1px dashed red;
}
.history_box .record_list li {
  height: 40px;
  line-height: 40px;
  border-bottom: 1px dashed red;
  padding-left: 5px;
}
.history_box .record_list li span {
  display: inline-block;
  line-height: 40px;
}
.history_box .record_list li:last-child {
  border-bottom: none;
}
