@charset "UTF-8";


html {
  width: 100%;
  height: 100%;
  max-width: 640px;
  min-width: 320px;
  padding: 50px 0;
  overflow: hidden;
}


body {
  height: 100%;
  background-color: #fff;
}


body, ul, li, h1, h3 {
  margin: 0;
  padding: 0;
}

ul, li {
  list-style: none;
}

a {
  display: block;
  text-decoration: none;
}

img {
  display: block;
}

i {
  font-style: normal;
  font-size: 16px;
}

.clearfix:after {
  content: '';
  height: 0;
  display: block;
  visibility: hidden;
  clear: both;
}

.clearfix {
  zoom: 1;  // 兼容ie
}

.headAndFoot {
  width: 100%;
  height: 50px;
  max-width: 640px;
  position: absolute;
  left: 0;
  text-align: center;
  background-color: #369;
  color: #fff;

  h1 {
    padding: 0 10%;
    height: 100%;
    font: 18px/50px "Microsoft YaHei";
    margin: 0;
  }

  a, p {
    color: #fff;
  }
}

#lt_header {
  top: 0;
  line-height: 50px;

  .icon_home,.icon_search {
    display: block;
    width: 10%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
  }

  .icon_search {
    left: auto;
    right: 0;
  }
}

#lt_main {

  .product {
    padding: 10px;

    .link {
      width: 48%;
      float: left;
      padding: 10px;
      border: 1px solid #ccc;
      text-align: center;
      margin-bottom: 10px;

      img {
        width: 100%;
      }
    }

    .link:nth-child(odd) {
      margin-right: 4%;
    }
  }
}

#it_footer {
  bottom: 0;
  font-size: 14px;

  .f_nav {
    padding-top: 10px;

    li {
      width: 20%;
      float: left;
      margin: 0 2.5%;

      i {
        font-size: 16px;
      }
    }

    li.now a,
    li.now p{
      color: darkorange;
    }
  }
}

.area_scroll {
  height: 100%;
  position: relative;
  overflow: hidden;
}

.price {
  color: red;
}

.oldPrice {
  text-decoration: line-through;
}

.search_box {
  position: relative;
  padding: 10px;

  input[type='text'] {
    font-size: 14px;
    border-radius: 5px;
    border-color: #007aff;
    margin-bottom: 0;
  }

  button[type='button'] {
    position: absolute;
    height: 40px;
    right: 10px;
    top: 10px;
    border-radius: 0 5px 5px 0;
  }
}

.pro_size {

  span {
    border: 1px solid #ccc;
    padding: 5px;
    font-size: 12px;
    line-height: 30px;
  }

  span.active {
    background-color: orange;
  }

}

.pro_num {

  span {
    color: #666;
    font-size: 12px;
  }
}




