#lt_main {
  position: relative;
  height: 100%;
  overflow: hidden;


  .i_nav {

    padding: 10px;

    li {
      width: 33.33%;
      float: left;

      img {
        width: 100%;
      }
    }
  }

  .product {
    padding: 10px;

    .link {
      width: 48%;
      float: left;
      padding: 10px;
      border: 1px solid #ccc;
      text-align: center;
      margin-bottom: 10px;

      img {
        width: 100%;
      }
    }

    .link:nth-child(odd) {
      margin-right: 4%;
    }
  }
}
