.history_box {
  padding: 10px;
  font-size: 14px;
  color: #666;

  .title {
    height: 40px;
    line-height: 40px;
  }

  .record_list {

    border: 1px dashed red;

    li {
      height: 40px;
      line-height: 40px;
      border-bottom: 1px dashed red;
      padding-left: 5px;
      //margin-top: -1px;

      span {
        display: inline-block;
        line-height: 40px;
      }
    }

    li:last-child {
      border-bottom: none;
    }
  }
}