html, body {
    height: 100%;
}

body, ul, li {
    margin: 0;
    padding: 0;
}

ul, ol, li {
    list-style: none;
}

a, a:link, a:visited, a:hover, a:active {
    text-decoration: none;
}

.body_bg {
    background-color: #222d32;
}

.midden {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* 侧边栏 */
aside {
    /*height: 100%;*/
}

.lt_aside {
    width: 15%;
    height: 100%;
    background-color: #222d32;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1;
}

.lt_aside.now {
    left: -15%;
}

.lt_aside .brank a {
    display: block;
    width: 100%;
    height: 50px;
    line-height: 50px;
    color: #fff;
    text-align: center;
    font-size: 22px;
    background-color: #367fa9;
}

.lt_aside .manage .info {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 0;
}

.manage .info img {
    display: block;
    border-radius: 50%;
}

.manage .info span {
    line-height: 50px;
    font-size: 16px;
    color: #fff;
}

.manage .list {
}

.manage .list a {
    display: block;
    /*text-align: center;*/
    color: #ccc;
    line-height: 50px;
    padding-left: 20%;
    border-left: 3px solid transparent;
}

.manage .list a.now {
    color: #fff;
    background-color: #1d1f21;
    border-left-color: #069;
}

.manage .list a i {
    /*display: inline-block;*/
    /*vertical-align: middle;*/
    margin-right: 7px;
}

/* main */
.lt_main {
    height: 100%;
    padding-left: 15%;
}

.lt_main.now {
    padding-left: 0%;
}

.topBar {
    width: 100%;
    height: 50px;
    line-height: 50px;
    background-color: #3c8dbc;
}

.topBar .menu,
.topBar .login-out {
    width: 4%;
    height: 100%;
    text-align: center;
    font-size: 18px;
}

.topBar a {
    display: block;
    height: 100%;
    color: #fff;
}

.lt_main .breadcrumb {
    margin-top: 20px;
}

.lt_main .content .bar,
.lt_main .content .pie {
    width: 45%;
    height: 500px;
}

.table.table-bordered th,
.table.table-bordered td{
    text-align: center;
    vertical-align: middle;
}

.js_addCategory,
.js_addSecond{
    margin-bottom: 20px;
}